<br>
<!-- Below div is for the dashboard -->
<div class="row" ng-show="dash" ng-cloak>
  <div class="col s12">
    <ul tabs="" class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" ng-click="tab1 = true; tab2 = false">Dash</a></li>
      <li class="tab"><a ng-click="tab2 = true; tab1 = false">Bot</a></li>
    </ul>
  </div>
  <div ng-show="tab1" id="dash" class="col s12">
    <center>
      <div class="row">
        <br>

          <h5><b>Rs. {{curbal}}</b></h5>
          <i>ready to be spent</i>

      </div>
      <div class="row">
        <a ng-click="pay()" class="waves-effect waves-light btn-large">PAY</a>
      </div>
      <div class="row">
        <a ng-click="receive()" class="waves-effect waves-light btn-large">RECEIVE</a>
      </div>
    </center>
  </div>
  <div ng-show="tab2" id="bot" class="col s12">
    <div class="row">
      <center>
        <p>I am a bot</p>
      </center>
    </div>
  </div>
</div>
<!-- Below div is for the new user registration -->
<div class="row" ng-show="register" ng-cloak>
  <div class="input-field col s12 center-align" >
    <input id="accountno" type="text" class="validate">
    <label for="accountno">Enter your Account Number</label>
    <button class="btn waves-effect waves-light" ng-click="newuser()">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
<!-- Below div is for the loader -->
<div class="progress" ng-show="loader" ng-cloak>
  <div class="indeterminate"></div>
</div>
<!-- Below div is for the new user avatar nickname and type -->
<div class="row" ng-show="extradetails" ng-cloak>
  <center>
    <h4 class="thin">Choose an Avatar</h4>
    <div class="row">
      <div ng-repeat="each in avatars1" class="col s3">
        <a id = "{{each}}" ng-click="newavatar(each)" class="btn btn-floating btn-large">
          <img class="circle responsive-img" src="images/{{each}}.png">
        </a>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="each in avatars2" class="col s3">
        <a id = "{{each}}" ng-click="newavatar(each)" class="btn btn-floating btn-large">
          <img class="circle responsive-img" src="images/{{each}}.png">
        </a>
      </div>
    </div>
    <h4 class="thin">Giv Urself a Nickname!</h4>
    <div class="row">
      <div class="input-field col s12 center-align">
        <input id="nickname" type="text" class="validate">
        <label for="nickname">Enter your nickname</label>
      </div>
    </div>
    <h4 class="thin">Account type?</h4>
    <div class="row">
      <div class="input-field col s6 left-align">
        <input id = "individual" class="with-gap" name="group1" type="radio" ng-model = "actype" value="individual" />
        <label for="individual">Individual</label>
      </div>
      <div class="input-field col s6 center-align">
        <input id="merchant" class="with-gap" name="group1" type="radio" ng-model = "actype" value="merchant" />
        <label for="merchant">Merchant</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" ng-click="newextra()">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </center>
</div>
<!-- Below div is for the paydiv -->
<div class="row" ng-show="paydiv" ng-cloak>
  <!-- near you expandable is below -->
  <ul class = "collapsible" data-collapsible = "accordion" collapsible="{}">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Near By</div>
      <div class="collapsible-body">
        <div ng-repeat="each in nearby" class="row">
          <!--div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper" -->
            <div class="row">
              <div class="col s3 m2">
                <img src = "images/{{each.avatar}}.png" alt="" class="circle responsive-img">
              </div>
              <div class="col s5 m6">
                <span class="black-text">
                  <b>{{each.nickname}}</b>
                  <br>
                  VPA: {{each.vpa}}
                </span>
              </div>
              <div class="col s4">
                <span class="black-text">
                  <b>Rs. {{each.amount}}</b>
                  <br>
                  <a class="waves-effect waves-light btn">PAY</a>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="divider"></div>
            </div>
            <!-- /div>
          </div -->
        </div>
      </div>
    </li>
  </ul>
  <div class="input-field col s12" >
    <div class="row">
      <div class="col s4">
        <p><b>Amount: </b></p>
      </div>
      <div class="col s8">
        <input id="payamount" type="number" class="validate" placeholder="Enter the amount">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <p><b>VPA: </b></p>
      </div>
      <div class="col s8">
        <input id="vpanumber" type="number" class="validate" placeholder="Enter the VPA">
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light" ng-click="payvpa()">Pay by VPA
        <i class="material-icons right">send</i>
      </button>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light" ng-click="paygps()">Pay by GPS
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
<!-- Below is the div for payment confirmation -->
<div class="row center-align" ng-show="payconfirm" ng-cloak>
  <div class="row">
    <div class="col s3 offset-s2 right-align">
      <img class="circle responsive-img" src="images/{{fsd.payeeavatar}}.png">
    </div>
    <div class="col s6 left-align">
      <span class="black-text">
        <b>{{fsd.payeenickname}}</b>
        <br>
        VPA: {{payeevpa}}
        <br>
        <b>Amount: </b>{{payeeamount}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <a ng-click="transfer()" class="waves-effect waves-light btn">Confirm</a>
    </div>
    <div class="col s6">
      <a ng-click="reload()" class="waves-effect waves-light btn">Decline</a>
    </div>
  </div>
</div>
<!-- floating button da -->
<div ng-show = "rbl" class="fixed-action-btn">
  <a ng-click="reload()" class="btn-floating btn-large blue darken-1">
    <i class="large material-icons">replay</i>
  </a>
</div>
<!-- following div for the receive input box for amount -->
<div ng-show = "ramt" class="row center-align">
  <div class="input-field col s12">
    <input id="recamount" type="number" class="validate">
    <label for="recamount">Enter the amount you want to receive</label>
  </div>
  <button ng-click = "rpost()" class="btn waves-effect waves-light">POST
  <i class="material-icons right">send</i>
  </button>
</div>
