<h3>Road accidents stats</h3>
<div class="row">
  <div class="input-field col s6">
    <input ng-model="state" id="statebox" type="text" class="validate">
    <label for="statebox">Search</label>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th data-field="statename">State</th>
      <th data-field="2003">2003</th>
      <th data-field="2004">2004</th>
      <th data-field="2005">2005</th>
      <th data-field="2006">2006</th>
      <th data-field="2007">2007</th>
      <th data-field="2008">2008</th>
      <th data-field="2009">2009</th>
      <th data-field="2010">2010</th>
      <th data-field="2011">2011</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="each in fulldata|filter:state" ng-cloak>
      <td>{{each[1]}}</td>
      <td>{{each[2]}}</td>
      <td>{{each[3]}}</td>
      <td>{{each[4]}}</td>
      <td>{{each[5]}}</td>
      <td>{{each[6]}}</td>
      <td>{{each[7]}}</td>
      <td>{{each[8]}}</td>
      <td>{{each[9]}}</td>
      <td>{{each[10]}}</td>
    </tr>
  </tbody>
</table>
